@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@600&display=swap');

html body {
    height: 100%;
    width: 100%;
    font-family: 'Edu QLD Beginner', cursive;

}

body {
    background-image: url(im.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button::after .button::before {
    content: '';
    position: absolute;
    opacity: 0.4;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.row {
    margin: 12px;
}

.row input {
    margin: 0px;
    padding: 26px 12px;
    border: 3px solid black;
    font-size: 20px;
    border-radius: 7px;
}

.btn {
    text-decoration: none;
    padding: 19px 25px;
    font-size: 20px;
    position: relative;
    background-color: black;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 25px;

    transition: transform 0.4s ease;
    margin: 0px;
    cursor: pointer;
}

.btn::after,
.btn::before {
    content: "";
    position: absolute;
    opacity: 0.4;
    background-color: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.3s ease;


}

.btn:hover {
    transform: translate(0px, -8px);
}

.btn:hover::after {
    transform: translate(0px, 4px);
}

.btn:hover::before {
    transform: translate(0px, 8px);
}

.ac {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 18px;
    padding-bottom: 19px;
}